/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Amazon Ember';
    font-weight: 200;
    src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff) format("woff");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amazon Ember';
}